<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<!--

10000

100


后台 ->

管理员

老师

100

学生-》用户名和密码  ->  注册

10000

张三  -》  ui

李四 -》  代码


excle  文件  学生的信息读到->数据库



班级管理

题库---  ui  代码 大类  ->  阶段 ->  题的类型
  1.  方向
  2.  阶段
  3.  类型  单选 多选  简答
  4.  题干 和 答案

  组卷表

  答题表



  考试系统 3方面   1. 管理员 先录入信息

  2. 老师 ->进去  -> 出题

  3. 学生 ->进去 ->  答题



-->

</body>
</html>