<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加商店</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{$smarty.const.CSS_PATH}/mui.min.css">
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a onclick="history.go(-1)" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">商铺</h1>
</header>

<form action="index.php?m=index&f=backshop&a=modifyshop" class="mui-input-group" method="post" style="margin-top: 45px;">
    <div class="mui-input-row">
        <label>名称</label>
        <input disabled name="sname" type="text" class="mui-input-clear" value="{$arr[0]['sname']}（不可修改）">
    </div>
    <div class="mui-input-row">
        <label>所属分类</label>
        <input disabled name="sname" type="text" class="mui-input-clear" value="{$lname[0]['lname']}（不可修改）">
    </div>
    <div class="mui-input-row">
        <label >图片</label>
            <img src="{$arr[0]['simg']}" alt="" height="100%" style="margin-left: 20px">
        <label >
            <a href="index.php?m=index&f=backshop&a=changeimg">
            点击修改
            </a>
        </label>
    </div>
    <div class="mui-input-row">
        <label>地址</label>
        <input disabled name="saddress" required type="text" class="mui-input-clear" value="{$arr[0]['saddress']}（不可修改）">
    </div>
    <div class="mui-input-row">
        <label>中文简介</label>
        <input name="snotes" required type="text" class="mui-input-clear" value="{$arr[0]['snotes']}">
    </div>
    <div class="mui-input-row">
        <label>英文简介</label>
        <input name="senotes" required type="text" class="mui-input-clear" value="{$arr[0]['senotes']}">
    </div>
    <div class="mui-input-row">
    <label>起送</label>
        <select name="srules" id="">
            <option value="{$arr[0]['srules']}">现在满¥{$arr[0]['srules']}起送</option>
            <option value="15">¥15</option>
            <option value="25">¥25</option>
            <option value="35">¥35</option>
        </select>
    </div>
    <div class="mui-input-row">
        <label>商品分类</label>
        <select name="lid">
            {foreach $slist as $list}
            <option value="">{$list['slname']}</option>
            {/foreach}
        </select>
    </div>
    <div class="mui-input-row">
        <label>推荐位</label>
        <select name="srec" >
            <option value="2">轮播</option>
            <option value="3">猜你喜欢</option>
            <option value="4">新品推荐</option>
            <option value="5">当下热门</option>
        </select>
    </div>
    <div class="mui-input-row" style="text-align: center">
        <a href="index.php?m=index&f=backshop&a=addslist&id={$arr[0]['sid']}"  class="mui-btn mui-btn-primary" style="float: none;width: 80px;">添加分类</a>
        <button type="submit" value="修改" class="mui-btn mui-btn-primary" style="float: none; display: inline-block" >修改</button>
        <a href="index.php?m=index&f=backshop&a=showcom" class="mui-btn mui-btn-primary" style="float: none;width: 80px;">查看商品</a>
    </div>
</form>
</body>

</html>