{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}mycss/z-join.css"/>
<script src="{JS_PATH}myjs/z-l-join.js"></script>


<div style="height:400px" class="hidden-xs hidden-sm hidden-md">
    <div class="z-banner">
        <a class="first-two tutu"></a>
        <a class="tutu"> </a>
        <a class="tutu"></a>
        <a class="tutu"></a>
        <div class=" hidden-xs hidden-sm hidden-md dingwei1" >
            <input class="z-nav-4" type="text">
            <span class=" z-nav-s">&#xe759;</span>
        </div>
        <a class="diandian">
            <div class="first-one changtiao"></div>
            <div class="changtiao"></div>
            <div class="changtiao"></div>
            <div class="changtiao"></div>
        </a>
    </div>
</div>
<div style="height:400px" class="hidden-lg">
    <div class="z-banner2 ">
        <a class="first-two tutu2"></a>
        <a class="tutu2"></a>
        <a class="tutu2"></a>
        <a class="tutu2"></a>
        <a class="diandian2">
            <div class="first-one changtiao2"></div>
            <div class="changtiao2"></div>
            <div class="changtiao2"></div>
            <div class="changtiao2"></div>
        </a>
    </div>
</div>
</div>


<div class="container">
    <div class="row">
        <!--分类-->
        <div class="z-titleb col-lg-12 hidden-xs hidden-sm hidden-md">
            <p>Recommended characteristics</p>
            <p>加 / 盟 / 政 / 策</p>
            <div>
                <div></div>
            </div>
            <p>Our signature dishes</p>
        </div>
        <div class="z-titles col-xs-12 col-sm-12 col-md-12 hidden-lg">
            <p>Recommended characteristics</p>
            <p>加 / 盟 / 政 / 策</p>
            <div>
                <div></div>
            </div>
            <p>Our signature dishes</p>
        </div>
        <div class="col-lg-12 hidden-xs hidden-sm hidden-md z-fenleib">
            <div>
                <span class="z-zi">旗舰店 </span>
                <span> ·</span>
                <span class="first z-zi">标准店 </span>
                <span>· </span>
                <span class="z-zi">形象店</span>
            </div>
        </div>
        <div class="col-xs-12 hidden-lg z-fenleis">
            <div>
                <span class="z-zizi">旗舰店 </span>
                <span> ·</span>
                <span class="first z-zizi">标准店 </span>
                <span>· </span>
                <span class="z-zizi">形象店</span>
            </div>
        </div>
    </div>
</div>
<div class="zhan hidden-sm hidden-xs hidden-md">
    <div class="container ">
        <div class="row z-xuanxiangka">
            <div class="container dian  first">
                <div class="row">
                    <div class="z-content-l col-lg-7 hidden-xs hidden-sm hidden-md">
                        <div class="z-bigimg">
                            <img class="first" src="{IMG_PATH}img/jmzc2.png" alt=""/>
                            <img src="{IMG_PATH}img/jmzc6.png" alt=""/>
                            <img src="{IMG_PATH}img/jmzc2.png" alt=""/>
                            <img src="{IMG_PATH}img/jmzc2.png" alt=""/>
                        </div>
                        <div class="z-smallimg">
                            <img class="first" src="{IMG_PATH}img/jms1.png" alt=""/>
                            <img  src="{IMG_PATH}img/jms2.png" alt=""/>
                            <img src="{IMG_PATH}img/jms3.png" alt=""/>
                            <img src="{IMG_PATH}img/jms4.png" alt=""/>
                        </div>

                    </div>
                    <div class="z-content-r col-lg-5 hidden-xs hidden-sm hidden-md">
                        <p>标准店 STANDARD SHOP</p>
                        <p>
                            275000
                            <span>RMB</span>
                        </p>
                        <p>公司按照全托店条件设立全托店一家，加盟店数量：区域内不限</p>
                        <p>The company in accordance with the conditions set up shop boarding boarding shop, the number of stores in the region
                            no limit</p>
                        <p>联系电话：1801208820</p>
                        <p>同城见面：时间、地点</p>
                        <div>立即加入</div>
                    </div>
                </div>
            </div>
            <div class="container dian">
                <div class="row">
                    <div class="z-content-l col-lg-7 hidden-xs hidden-sm hidden-md">
                        <img src="{IMG_PATH}img/jmzc2.png" alt=""/>
                        <img src="{IMG_PATH}img/jms1.png" alt=""/>
                        <img class="z-first" src="{IMG_PATH}img/jms2.png" alt=""/>
                        <img src="{IMG_PATH}img/jms3.png" alt=""/>
                        <img src="{IMG_PATH}img/jms4.png" alt=""/>
                    </div>
                    <div class="z-content-r col-lg-5 hidden-xs hidden-sm hidden-md">
                        <p>准店 STANDARD SHOP</p>
                        <p>
                            275000
                            <span>RMB</span>
                        </p>
                        <p>公司按照全托店条件设立全托店一家，加盟店数量：区域内不限</p>
                        <p>The company in accordance with the conditions set up shop boarding boarding shop, the number of stores in the region
                            no limit</p>
                        <p>联系电话：1801208820</p>
                        <p>同城见面：时间、地点</p>
                        <div>立即加入</div>
                    </div>
                </div>
            </div>
            <div class="container dian">
                <div class="row">
                    <div class="z-content-l col-lg-7 hidden-xs hidden-sm hidden-md">
                        <img src="{IMG_PATH}img/jmzc2.png" alt=""/>
                        <img src="{IMG_PATH}img/jms1.png" alt=""/>
                        <img class="z-first" src="{IMG_PATH}img/jms2.png" alt=""/>
                        <img src="{IMG_PATH}img/jms3.png" alt=""/>
                        <img src="{IMG_PATH}img/jms4.png" alt=""/>
                    </div>
                    <div class="z-content-r col-lg-5 hidden-xs hidden-sm hidden-md">
                        <p>标店 STANDARD SHOP</p>
                        <p>
                            275000
                            <span>RMB</span>
                        </p>
                        <p>公司按照全托店条件设立全托店一家，加盟店数量：区域内不限</p>
                        <p>The company in accordance with the conditions set up shop boarding boarding shop, the number of stores in the region
                            no limit</p>
                        <p>联系电话：1801208820</p>
                        <p>同城见面：时间、地点</p>
                        <div>立即加入</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--xiappim-->
<div class="qcheck hidden-lg col-xs-12">
    <div class="contianer-fluid hidden-lg imgbox1 imgbox12 first">
        <img class="z-x-banner z-x-banner4 first-two" src="" alt=""/>
        <img class="z-x-banner z-x-banner4" src="" alt=""/>
        <img class="z-x-banner z-x-banner4" src="" alt=""/>
        <img class="z-x-banner z-x-banner4" src="" alt=""/>
        <a class="diandian1">
            <div class="first-one changtiao1 changtiao4"></div>
            <div class="changtiao1 changtiao4"></div>
            <div class="changtiao1 changtiao4"></div>
            <div class="changtiao1 changtiao4"></div>
        </a>
    </div>
    <div class="contianer-fluid hidden-lg imgbox1 imgbox13">
        <img class="z-x-banner first-two z-x-banner5" src="" alt=""/>
        <img class="z-x-banner z-x-banner5" src="" alt=""/>
        <img class="z-x-banner z-x-banner5" src="" alt=""/>
        <img class="z-x-banner z-x-banner5" src="" alt=""/>
        <a class="diandian1">
            <div class="first-one changtiao1 changtiao5"></div>
            <div class="changtiao1 changtiao5"></div>
            <div class="changtiao1 changtiao5"></div>
            <div class="changtiao1 changtiao5"></div>
        </a>
    </div>
    <div class="contianer-fluid hidden-lg imgbox1 imgbox14">
        <img class="z-x-banner first-two z-x-banner6" src="" alt=""/>
        <img class="z-x-banner z-x-banner6" src="" alt=""/>
        <img class="z-x-banner z-x-banner6" src="" alt=""/>
        <img class="z-x-banner z-x-banner6" src="" alt=""/>
        <a class="diandian1">
            <div class="first-one changtiao1 changtiao6"></div>
            <div class="changtiao1 changtiao6"></div>
            <div class="changtiao1 changtiao6"></div>
            <div class="changtiao1 changtiao6"></div>
        </a>
    </div>
</div>
<!--结束-->
<div class="container">
    <div class="row">
        <div class=" col-lg-12 hidden-xs hidden-sm hidden-md">
            <p class="z-shopb">店铺情况</p>
        </div>
        <p class="z-shops col-xs-12 col-sm-12 col-md-12 hidden-lg">店铺情况</p>
        <div class="z-table col-xs-6 col-sm-2">总投资款</div>
        <div class="z-table col-xs-6 col-sm-4">5.38万</div>
        <div class="z-table col-xs-6 col-sm-2">物流配送</div>
        <div class="z-table col-xs-6 col-sm-4">公司供货</div>
        <div class="z-table col-xs-6 col-sm-2">总投资款</div>
        <div class="z-table col-xs-6 col-sm-4">5.38万</div>
        <div class="z-table col-xs-6 col-sm-2">物流配送</div>
        <div class="z-table col-xs-6 col-sm-4">公司供货</div>
        <div class="z-table col-xs-6 col-sm-2">总投资款</div>
        <div class="z-table col-xs-6 col-sm-4">5.38万</div>
        <div class="z-table col-xs-6 col-sm-2">物流配送</div>
        <div class="z-table col-xs-6 col-sm-4">公司供货</div>
        <div class="z-table col-xs-6 col-sm-2">总投资款</div>
        <div class="z-table col-xs-6 col-sm-4">5.38万</div>
        <div class="z-table col-xs-6 col-sm-2">物流配送</div>
        <div class="z-table col-xs-6 col-sm-4">公司供货</div>
        <div class="col-lg-12 hidden-xs hidden-sm hidden-md">
            <p class="z-shopb">店铺情况</p>
        </div>
        <p class="z-shops z-shopa col-xs-12 col-sm-12 col-md-12 hidden-lg">店铺展示</p>
        <div class="col-lg-7 hidden-xs hidden-sm hidden-md">
            <img class="z-imgb" src="{IMG_PATH}img/jmzc6.png" alt=""/>
        </div>
        <div class="col-lg-5 hidden-xs hidden-sm hidden-md">
            <img class="z-imgb" src="{IMG_PATH}img/jmzc7.png" alt=""/>
        </div>
        <div class="col-lg-4 hidden-xs hidden-sm hidden-md">
            <img class="z-imgb" src="{IMG_PATH}img/jmzc8.png" alt=""/>
        </div>
        <div class="col-lg-4 hidden-xs hidden-sm hidden-md">
            <img class="z-imgb" src="{IMG_PATH}img/jmzc9.png" alt=""/>
        </div>
        <div class="col-lg-4 hidden-xs hidden-sm hidden-md">
            <img class="z-imgb" src="{IMG_PATH}img/jmzc10.png" alt=""/>
        </div>

        <div class="col-xs-12 hidden-xs hidden-lg">
            <img class="z-imgs" src="{IMG_PATH}img/jmzc6.png" alt=""/>
        </div>
        <div class="col-sm-7 hidden-xs hidden-lg">
            <img class="z-imgs z-imgst" src="{IMG_PATH}img/jmzc7.png" alt=""/>
        </div>
        <div class="col-sm-5 hidden-xs hidden-lg">
            <img class="z-imgs z-imgst" src="{IMG_PATH}img/jmzc8.png" alt=""/>
        </div>
        <div class="col-sm-6 hidden-xs hidden-lg">
            <img class="z-imgs" src="{IMG_PATH}img/jmzc9.png" alt=""/>
        </div>
        <div class="col-sm-6 hidden-xs hidden-lg">
            <img class="z-imgs" src="{IMG_PATH}img/jmzc10.png" alt=""/>
        </div>

        <div class=" col-xs-12 hidden-md hidden-sm hidden-lg">
            <img class="z-x z-imgs" src="{IMG_PATH}img/1.png" alt=""/>
        </div>
        <div class=" col-xs-12 hidden-sm hidden-md hidden-lg">
            <img class="z-x z-imgs" src="{IMG_PATH}img/1.png" alt=""/>
        </div>
        <div class=" col-xs-12 hidden-sm hidden-md hidden-lg">
            <img class="z-x z-imgs" src="{IMG_PATH}img/1.png" alt=""/>
        </div>
        <div class=" col-xs-12 hidden-sm hidden-md hidden-lg">
            <img class="z-x z-imgs" src="{IMG_PATH}img/1.png" alt=""/>
        </div>
        <div class=" col-xs-12 hidden-sm hidden-md hidden-lg">
            <img class="z-x z-imgs" src="{IMG_PATH}img/1.png" alt=""/>
        </div>
        <!-- dibuword-->
        <div class="mem col-xs-12">
            <span>那些回忆，值得细细品尝回味。</span>
            <p>Those memories, it is worth savoring the aftertaste</p>
            <p>With the wireless</p>
        </div>
    </div>

</div>

{template "content","footer"}